.Rproj.user
scheldemonitoR.Rproj

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.Rproj.user
.Renviron*
.Rdata
.httr-oauth
.DS_Store
